<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-uppercase mb-0">Users</h2>
                    </div>
                    <div class="table-responsive">
                        <table class="table no-wrap user-table mb-0">
                            <thead>
                            <tr>
                                <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Name</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Email</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Balance</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">View</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr th:each="customer: ${customers}">
                                    <td class="pl-4">[[${customer.customerId}]]</td>
                                    <td>
                                        <h5 class="font-medium mb-0">[[${customer.firstName}]] [[${customer.lastName}]]</h5>
                                    </td>
                                    <td>
                                        <span class="text-muted">[[${customer.email}]]</span><br>
                                    </td>
                                    <td>
                                        <span class="text-muted">[[${customer.balance}]]</span><br>
                                    </td>
                                    <td>
                                        <a th:href="'/customers/view_customer/id/' + ${customer.customerId}">
                                            <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-upload"></i> </button>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>